<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>如何使用 Scope</title>
    <script src="./../js/angular.min.js"></script>
</head>

<body>
    <div>
        如果你修改了视图，模型和控制器也会相应更新：
    </div>

    <div ng-app="myApp" ng-controller="myCtrl">
        <input ng-model="name">
        <h1>{{greeting}}</h1>
        <button ng-click='sayHello()'>点我</button>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = "Runoob";
            $scope.sayHello = function () {
                $scope.greeting = 'Hello ' + $scope.name + '!';
            };
        });
    </script>

</body>

</html>